* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Poppins', sans-serif;
}

.orange {
        color: rgb(231, 111, 81);
}

/* Header Part Style */

.nav-bg {
        background: rgb(38, 70, 83);
        border-bottom: 1px dotted black;
}

.brand-name {
        text-decoration: none;
        color: rgb(231, 111, 81);
        font-size: 40px;
        font-weight: bold;
}

.brand-name:hover {
        color: rgb(211, 45, 4);
}

nav ul li a {
        font-weight: 500;
        font-size: 17px;
        color: white
}

header {
        background: rgb(38, 70, 83);
        color: white;
}

.header-short-text {
        font-size: 14px;
}

.headline {
        font-size: 48px;
        font-weight: 600;
}

.headline-details {
        color: #E0E0E0;
        font-size: 16px;
        line-height: 24px;
}

.purchase-button {
        background: rgb(231, 111, 81);
        border: 2px solid rgb(231, 111, 81);
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        padding: 10px 45px;
        border-radius: 5px;
}

.purchase-button:hover {
        background: rgb(211, 45, 4)
}

/* Featured Part's Styles */

.featured-short-text {
        color: #E76F51;
        font-size: 14px;
}

.gray-scal-image {
        filter: grayscale(100%);
}

/* Review Part Style */

.star {
        height: 19px;
        width: 19px;
        margin: 2px;
        color: #E77C40
}

.user {
        color: #23A6F0;
}

.user-details {
        font-size: 14px;
        font-weight: 600;
        margin: 10px 0;
}

.image-rounded {
        border-radius: 50%;
}